.new-password
  padding 0 0.4rem
  padding-top 1.2rem
  .import-password
    position relative
    width 100%
    height 1rem
    line-height 1rem
    .password-icon
      width 0.26rem
      height 0.38rem
      margin-right 0.3rem
    .pws-input::-webkit-input-placeholder
      color #C7C7CC
    .pws-input
      outline none
      font-size 0.3rem
      color #333333
    .close-icon
      position absolute
      right 0.76rem
      top 50%
      width 0.32rem
      height 0.32rem
      margin-top -0.16rem
    .eye-icon
      width 0.36rem
      height 0.36rem
      position absolute
      right 0
      top 50%
      margin-top -0.18rem
  .submit-button
    width 100%
    height 0.88rem
    line-height 0.88rem
    font-size 0.34rem
    color #ffffff
    background-color #FFEAC1
    border-radius 0.88rem
    text-align center
    margin-top 1rem
  .submit-button-act
    background-color #F8BD48
