.vioce-detail
  position relative
  background-color #5FDEC2
  padding 0 0.2rem
  .content
    padding-top 0.6rem
    padding-bottom 0.5rem
    .top-icon
      position absolute
      top 0.2rem
      left 50%
      margin-left -1.42rem
      width 2.84rem
      z-index 5
      > img
        width 100%
    section
      background-color #ffffff
      border-radius 0.2rem
      box-shadow 5px 5px 0px 0px rgba(67, 172, 149, 1)
      .vioce-detail-head
        overflow hidden
        background-color #FDF2DC
        border-radius 0.2rem 0.2rem 0 0
        .about-us
          float right
          font-size 0.2rem
          color #BAA780
          margin-top 0.3rem
          margin-right 0.2rem
          > img
            width 0.2rem
            height 0.2rem
            vertical-align baseline
        .more-button
          display block
          width 0.96rem
          height 0.56rem
          color #EEB33E
          font-size 0.24rem
          line-height 0.56rem
          text-align center
          border-radius 0.56rem
          border 1px solid #EEB33E
          float left
          margin-top 0.2rem
          margin-left 0.2rem
        .order-voice-head
          clear both
          overflow hidden
          padding 0.6rem 0.2rem
          .voice-list-left
            float left
            width 1.6rem
            height 1.6rem
            border-radius 0.2rem
            margin-right 0.2rem
            overflow hidden
            > img
              display block
              width 100%
              margin 0 auto
          .voice-list-right
            float left
            width 4.5rem
            .voice-list-title
              font-size 0.32rem
              color #333333
              margin-bottom 0.1rem
            .voice-list-descr
              font-size 0.24rem
              color #9C9890
              margin-bottom 0.1rem
            .voice-list-price
              font-size 0.24rem
              color #888888
              margin-bottom 0.1rem
              .big
                font-size 0.34rem
                color #333333
                vertical-align baseline
            .voice-list-button
              overflow hidden
              > span
                display block
                float left
                margin-right 0.2rem
                height 0.64rem
                line-height 0.64rem
                padding 0 0.3rem
                border 1px solid #9C9890
                color #9C9890
                border-radius 0.64rem
              > span:first-child
                color #F8BD48
                border 1px solid #F8BD48
      .order-voice-list
        > li
          padding 0.4rem 0.2rem
          overflow hidden
          border-bottom 1px solid #D8D8D8
          .voice-list-left
            position relative
            float left
            width 1.6rem
            height 1.6rem
            border-radius 0.2rem
            overflow hidden
            margin-right 0.2rem
            .logo-icon
              display block
              width 100%
              margin 0 auto
            .media-icon
              position absolute
              bottom 0.08rem
              right 0.08rem
              width 0.4rem
              height 0.4rem
          .voice-list-right
            float left
            width 4.5rem
            .voice-list-title
              font-size 0.32rem
              color #333333
              margin-bottom 0.1rem
            .voice-list-descr
              font-size 0.24rem
              color #9C9890
              margin-bottom 0.1rem
            .voice-list-price
              font-size 0.24rem
              color #888888
              margin-bottom 0.1rem
              .big
                font-size 0.34rem
                color #333333
                vertical-align baseline
            .voice-list-button
              display flex
              justify-content space-between
              > span
                display block
                height 0.64rem
                line-height 0.64rem
                padding 0 0.3rem
                border 1px solid #9C9890
                color #9C9890
                border-radius 0.64rem
      .no-more
        width 100%
        height 1.6rem
        font-size 0.24rem
        color #9C9890
        line-height 1.6rem
        text-align center
  .to-top
    position fixed
    display block
    width 1rem
    height 1rem
    right 0.4rem
    bottom 4rem
    z-index 1
  .contact-service
    position fixed
    display block
    width 1rem
    height 1rem
    right 0.4rem
    bottom 2.4rem
    z-index 1
