.video-chapters
  .video-chapters-head
    overflow hidden
    padding 0.4rem 0.2rem
    border-bottom 1px solid #D8D8D8
  .chapters-head-left
    position relative
    width 1.6rem
    height 1.6rem
    border-radius 0.2rem
    overflow hidden
    margin-right 0.2rem
    float left
    .logo-icon
      display block
      width 100%
    .media-icon
      position absolute
      right 0.08rem
      bottom 0.08rem
      display block
      width 0.4rem
      height 0.4rem
  .chapters-head-right
    float left
    width 4.5rem
    .chapters-title
      font-size 0.32rem
      color #333333
      margin-bottom 0.1rem
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    .chapters-descr
      font-size 0.24rem
      color #9C9890
      margin-bottom 0.1rem
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    .chapters-price
      font-size 0.24rem
      color #888888
      margin-bottom 0.1rem
      .big
        font-size 0.36rem
        color #333333
        vertical-align baseline
    .chapters-button
      > span
        display block
        height 0.64rem
        line-height 0.64rem
        font-size 0.32rem
        color #9C9890
        padding 0 0.3rem
        border-radius 0.64rem
        border 1px solid #9C9890
        float left
        margin-right 0.2rem
      > span:first-child
        border 1px solid #F8BD48
        color #F8BD48
  .video-chapters-list
    > ul > li
      height 1.2rem
      line-height 1.2rem
      overflow hidden
      .serial-number
        display block
        width 1.2rem
        color #BEBBB5
        font-size 0.3rem
        text-align center
        float left
      .chapters-name
        display block
        font-size 0.34rem
        color #333333
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding-right 0.4rem
