.order-list
  background-color #F0F0F0
  padding-top 0.2rem
  padding-bottom 1.5rem
  .orders-list
    margin-top 0.2rem
    .orders-list-title
      height 0.88rem
      line-height 0.88rem
      font-size 0.3rem
      color #333333
      background-color #F8F7F6
      padding 0 0.3rem
    > ul
      background-color #ffffff
      padding-left 0.3rem
      .orders
        border-bottom 1px solid #E6E6E6
        padding 0.3rem 0
        padding-right 0.3rem
        overflow hidden
        .orders-img
          width 1.6rem
          height 1.6rem
          border 1px solid #D6D6D6
          border-radius 5px
          float left
          margin-right 0.2rem
          > img
            display block
            height 100%
            margin 0 auto
        .orders-title
          margin-top 0.1rem
          font-size 0.3rem
          color #333
        .orders-price
          font-size 0.2rem
          color #F8BD48
          margin-top 0.1rem
          .big
            font-size 0.36rem
            vertical-align baseline
        .orders-quantity
          font-size 0.28rem
          background-color #F8BD48
          color #ffffff
          height 0.4rem
          line-height 0.4rem
          padding 0 0.16rem
          float right
          border-radius 0.4rem
          margin-top 0.2rem
      .orders:last-child
        border-bottom none
  .order-leave
    padding 0.3rem
    background-color #ffffff
    margin-top 0.2rem
    font-size 0.3rem
    color #523F1A
    > img
      float right
      width 0.16rem
      height 0.26rem
    .order-leave-right
      float right
      color #C7C7CC
      margin-right 0.3rem
    > span
      display block
      line-height 0.25rem
  .order-total
    margin-top 0.2rem
    padding 0.1rem 0.3rem
    background-color #ffffff
    > div
      clear both
      height 0.54rem
      line-height 0.54rem
      font-size 0.3rem
      color #9A968D
      > p
        float right
        color #6E5627
        font-size 0.2rem
        .big
          font-size 0.34rem
          vertical-align baseline
  footer
    position fixed
    width 100%
    height 1rem
    left 0
    bottom 0
    background-color #ffffff
    box-shadow 0px -2px 5px 0px rgba(0, 0, 0, 0.1)
    .submit-order
      display block
      float right
      width 2.5rem
      height 1rem
      line-height 1rem
      text-align center
      font-size 0.34rem
      color #ffffff
      background linear-gradient(-135deg, rgba(254, 122, 86, 1), rgba(255, 80, 80, 1))
    .order-totla
      padding 0.24rem 0.3rem
      font-size 0.2rem
      color #6E5627
      > span
        color #F8BD48
        .big
          font-size 0.36rem
          vertical-align baseline
