.solicit-subscription-main
  background-color #A1D366
  height 100%
  padding 0.2rem
  padding-bottom 2rem
  main
    padding 0.2rem
    background-color #fff
    border-radius 0.2rem
    box-shadow 5px 5px 0px 0px rgba(128, 169, 80, 1)
    .title
      font-size 0.32rem
      color #333
      font-weight 600
      text-align center
      margin-top 0.2rem
    .creator
      font-size 0.24rem
      color #868582
      text-align center
      margin-top 0.2rem
    .explain
      font-size 0.24rem
      color #868582
      text-align center
      margin-top 0.1rem
    > nav
      display flex
      justify-content space-around
      margin 0.4rem 0
      > span
        display block
        width 2rem
        height 0.8rem
        line-height 0.8rem
        text-align center
        color #333333
        font-size 0.32rem
        background-color #A1E451
        border-radius 0.2rem
        box-shadow 0px 4px 0px 0px rgba(133, 186, 71, 1)
      .activity
        background-color #FFD03C
        box-shadow 0px 4px 0px 0px rgba(209, 168, 41, 1)
  .to-top
    position fixed
    display block
    width 1rem
    height 1rem
    right 0.4rem
    bottom 2.4rem
    z-index 1
  .contact-service
    position fixed
    display block
    width 1rem
    height 1rem
    right 0.4rem
    bottom 2.4rem
    z-index 1
