.solicit-subscription-audio
  .voice-seek
    padding 0.2rem
    > p
      height 0.88rem
      border 1px solid rgba(161, 228, 81, 1)
      box-shadow 4px 4px 0px 0px rgba(133, 186, 71, 1)
      border-radius 0.1rem
      > input
        background-color #ffffff
        height 0.8rem
        line-height 0.8rem
        width 90%
        padding 0 0.2rem
        outline none
        border-radius 0.1rem
      > img
        width 0.28rem
        height 0.28rem
  .order-voice-menu
    overflow hidden
    padding 0 0.2rem
    > li
      float left
      width 1rem
      height 0.6rem
      font-size 0.28rem
      line-height 0.6rem
      text-align center
      color #565551
      margin-right 0.3rem
      border 1px solid #ffffff
      border-radius 0.6rem
    .active
      border 1px solid #F8BD48
      color #F8BD48
  .order-voice-list
    position relative
    padding 0.6rem 0.2rem
    overflow hidden
    .voice-list-left
      position absolute
      left 0.2rem
      top 0.6rem
      width 1.6rem
      height 1.6rem
      border-radius 0.2rem
      overflow hidden
      > img
        display block
        height 100%
        margin 0 auto
    .voice-list-right
      margin-left 1.8rem
      .voice-list-title
        width 4.2rem
        font-size 0.32rem
        color #333333
        margin-bottom 0.1rem
        overflow hidden
        display -webkit-box
        -webkit-line-clamp 2
        text-overflow ellipsis
        -webkit-box-orient vertical
      .voice-list-descr
        font-size 0.24rem
        color #9C9890
        margin-bottom 0.1rem
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .album-number
        float left
        margin-top 1px
        > img
          width 0.32rem
          height 0.32rem
          margin-left 0.26rem
          margin-right 0.08rem
          vertical-align middle
        > span
          color #888888
          font-size 0.24rem
          display inline-block
          vertical-align middle
      .voice-list-price
        float left
        font-size 0.24rem
        color #888888
        margin-bottom 0.1rem
        .big
          font-size 0.34rem
          color #333333
          vertical-align baseline
      .voice-list-button
        clear both
        display flex
        justify-content space-between
        > span
          display block
          height 0.64rem
          line-height 0.64rem
          padding 0 0.3rem
          color #555555
          background-color #F3F4F5
          border-radius 0.64rem
        > span:first-child
          color #F8BD48
          border none
          color #fff
          background-color #F8BD48
  .order-voice-list:last-child
    border-bottom none
  .noContent
    text-align center
    margin-top 2rem
