.solicit-subscription-audio
  .voice-seek
    padding 0.2rem
    > p
      height 0.88rem
      border 1px solid #5FDEC2
      box-shadow 4px 4px 0px 0px #5FDEC2
      border-radius 0.1rem
      > input
        background-color #ffffff
        height 0.8rem
        line-height 0.8rem
        width 90%
        padding 0 0.2rem
        outline none
        border-radius 0.1rem
      > img
        width 0.28rem
        height 0.28rem
  .order-voice-menu
    overflow hidden
    padding 0 0.2rem
    > li
      float left
      width 1rem
      height 0.6rem
      font-size 0.28rem
      line-height 0.6rem
      text-align center
      color #565551
      margin-right 0.3rem
      border 1px solid #ffffff
      border-radius 0.6rem
    .active
      border 1px solid #F8BD48
      color #F8BD48
  .order-voice-list
    padding 0.6rem 0.2rem
    overflow hidden
    border-bottom 1px solid #D8D8D8
    .voice-list-left
      float left
      width 1.6rem
      height 1.6rem
      border-radius 0.2rem
      overflow hidden
      margin-right 0.2rem
      > img
        display block
        width 100%
        margin 0 auto
    .voice-list-right
      float left
      width 4.2rem
      .voice-list-title
        width 4.2rem
        font-size 0.32rem
        color #333333
        margin-bottom 0.1rem
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .voice-list-descr
        font-size 0.24rem
        color #9C9890
        margin-bottom 0.1rem
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      .voice-list-price
        font-size 0.24rem
        color #888888
        margin-bottom 0.1rem
        .big
          font-size 0.34rem
          color #333333
          vertical-align baseline
      .voice-list-button
        display flex
        justify-content space-between
        > span
          display block
          height 0.64rem
          line-height 0.64rem
          padding 0 0.3rem
          border 1px solid #9C9890
          color #9C9890
          border-radius 0.64rem
        > span:first-child
          color #F8BD48
          border 1px solid #F8BD48
  .order-voice-list:last-child
    border-bottom none
