.refund-list
  > ul
    padding-left 0.3rem
    > li:last-child
      border none
    > li
      position relative
      padding 0.3rem
      padding-left 0
      border-bottom 1px solid #E6E6E6
      .refund-left
        position absolute
        top 0.3rem
        left 0
        width 1.6rem
        height 1.6rem
        overflow hidden
        border-radius 5px
        border 1px solid #d6d6d6
        > img
          display block
          height 100%
          margin 0 auto
      .refund-right
        margin-left 1.8rem
        .refund-title
          font-size 0.3rem
          color #333333
          font-weight 600
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          margin-bottom 0.1rem
        .refund-price
          margin-bottom 0.1rem
          font-size 0.2rem
          color #BEBBB5
          .big
            font-size 0.34rem
            vertical-align baseline
        .refund-quantity
          position absolute
          right 0.3rem
          top 1.5rem
          display block
          height 0.4rem
          line-height 0.4rem
          padding 0 0.2rem
          background-color #F8BD48
          color #ffffff
          font-size 0.0.28rem
          border-radius 0.4rem
        .refund-btn
          display inline-block
          height 0.6rem
          line-height 0.6rem
          padding 0 0.2rem
          font-size 0.32rem
          border-radius 3px
          margin-left 0.2rem
        .apply-refund
          color #F8BD48
          border 1px solid #F8BD48
        .cancel-refund
          color #ffffff
          background-color #6CC826
        .refuse-refund
          color #BEBBB5
          background-color #F3F4F5
        .refundding
          color #333333
          background-color #F3F4F5
        .refund-content
          font-size 0.26rem
          margin-top 0.1rem
          overflow hidden
          color #9C9890
          clear both
          .no-refund
            color #302D28
          > span:first-child
            float left
            display block
          > span:last-child
            display block
            margin-left 1.2rem
            .if-show
              float right
              display inline-block
              color #523F1A
              font-size 0.26rem
              text-decoration underline
              vertical-align baseline
              > img
                width 0.2rem
                height 0.12rem
