.pay-success
  position relative
  height 100%
  .pay-head
    position relative
    > img
      display block
      width 100%
    .pay-close
      position absolute
      right 0.4rem
      top 0.4rem
      font-size 0.28rem
      color #806226
    .pay-total
      position absolute
      top 1.52rem
      left 0
      width 100%
      text-align center
      font-size 0.24rem
      color #523F1A
      .big
        font-size 0.8rem
        vertical-align baseline
    .pay-success-words
      position absolute
      top 2.72rem
      left 0
      width 100%
      font-size 0.28rem
      color #72A620
      text-align center
  > img
    display block
  .pay-recommend
    width 4.44rem
    margin 0 auto
    margin-top 0.88rem
  .pay-upLoad
    width 2.34rem
    margin 0 auto
    margin-top 0.8rem
  .pay-weixiao
    position absolute
    width 0.8rem
    left 50%
    bottom 1.12rem
    margin-left -0.4rem
  .pay-words
    position absolute
    width 2.8rem
    left 50%
    bottom 0.3rem
    margin-left -1.4rem
