.solicit-subscription-age
  > ul
    padding-bottom 1rem
    >li
      height 0.88rem
      line-height 0.88rem
      border-bottom 1px solid #E6E6E6
      > span
        display inline-block
        width 90%
        padding 0 0.2rem
        font-size 0.32rem
        color #333333
      > img
        width 0.44rem
        height 0.44rem
    > li:last-child
      border none
  .footer-button
    position fixed
    left 0
    bottom 0
    width 100%
    height 1rem
    box-shadow 0px -2px 5px 0px rgba(0, 0, 0, 0.1)
    > span
      display block
      width 50%
      height 1rem
      float left
      font-size 0.34rem
      color #333
      line-height 1rem
      text-align center
      background-color #fff
    > span:last-child
      background-color #F8BD48
      color #fff
