.order-address
  .order-head
    margin-bottom 0.2rem
    background-color #FFFDE0
    .border-bg
      width 100%
      height 0.12rem
      background url('../../../assets/lateral-icon.png') 0 0 repeat-x
      background-position -0.6rem 0
      background-size 1.04rem
    .order-address
      overflow hidden
      .order-address-right
        height 1.6rem
        width 10%
        float right
        > img
          display block
          width 0.16rem
          height 0.26rem
          margin 0 auto
          margin-top 0.67rem
      .order-address-left
        width 90%
        padding 0.2rem 0.3rem
        padding-right 0
        float left
        .not-choose-address
          font-size 0.26rem
          color #84836D
          height 1.2rem
          line-height 1.2rem
        .address-info
          > span
            font-size 0.34rem
            color #525042
          .address-phone
            float right
        .address-content
          font-size 0.26rem
          color #84836D
          line-height 0.34rem
          margin-top 0.1rem
