.school-address
  .no-address-list
    padding-top 4rem
    > img
      display block
      width 2rem
      height 2rem
      margin 0 auto
    > p
      font-size 0.3rem
      color #D6D6D6
      margin-top 0.3rem
      text-align center
  .add-adress
    position fixed
    left 0
    bottom 0
    height 1rem
    font-size 0.32rem
    width 100%
    text-align center
    line-height 1rem
    color #523F1A
    background-color #F8BD48
  .school-address-list
    > li
      clear both
      overflow hidden
      padding 0.2rem 0.3rem
      border-bottom 1px solid #E6E6E6
      .school-address-head
        display block
        width 1.28rem
        height 1.28rem
        border-radius 50%
        float left
        margin-right 0.3rem
      .school-address-link
        display block
        width 0.16rem
        height 0.26rem
        float right
        margin-top 0.5rem
      .school-address-title
        .child-name
          font-size 0.34rem
          color #333333
          margin-right 0.1rem
        .school-address-sex
          width 0.3rem
          height 0.3rem
      .school-address-content
        width 95%
        font-size 0.28rem
        color #888888
