.comment
  background-color #ffffff
  .comment-title
    padding 0.2rem
    color #333333
    font-size 0.3rem
  .comment-list
    > li
      border-bottom 1px solid #E6E6E6
      padding 0.4rem 0.2rem
      overflow hidden
      .comment-left
        width 12%
        height auto
        float left
        > img
          display block
          margin 0 auto
          width 0.52rem
          height 0.52rem
          border-radius 50%
      .comment-right
        width 88%
        float right
        .comment-star
          float right
          > img
            width 0.24rem
            height 0.24rem
        .comment-username
          font-size 0.26rem
          color #9C9890
          height 0.52rem
          line-height 0.52rem
        .comment-content
          margin 0.3rem 0
          font-size 0.34rem
          color #333333
        .comment-images
          width 1.2rem
          height 1.2rem
          overflow hidden
          border-radius 2px
          border 1px solid rgba(214, 214, 214, 1)
          float left
          margin-right 0.1rem
          margin-bottom 0.3rem
          > img
            display block
            height 100%
            margin 0 auto
        .comment-time
          display block
          clear both
          font-size #9C9890
          color #9C9890
    > li:last-child
      border none
  .check-comment
    width 2.4rem
    height 0.72rem
    color #F8BD48
    border 1px solid #F8BD48
    border-radius 4px
    font-size 0.3rem
    line-height 0.7rem
    text-align center
    margin 0 auto
    margin-top 0.16rem
    margin-bottom 0.16rem
