.add-school-address
  .user-school-address
    margin-bottom 1rem
    > li
      overflow hidden
      padding 0.4rem 0.3rem
      border-bottom 1px solid #E6E6E6
      > span
        font-size 0.3rem
        color #333333
      > input::placeholder
        color #C7C7CC
      > textarea::placeholder
        color #C7C7CC
      > input
        width 60%
        float right
        outline none
        font-size 0.3rem
        color #C7C7CC
        text-align right
      > p
        float right
        color #C7C7CC
        font-size 0.3rem
        height 0.44rem
        line-height 0.4rem
      .school-address-link
        float right
        width 0.16rem
        height 0.26rem
        margin-top 0.07rem
        margin-left 0.3rem
      .child-sex
        overflow hidden
        float right
        > p
          float left
          margin-left 0.8rem
          .check-sex
            width 0.44rem
            height 0.44rem
            margin-right 0.4rem
          .sex-icon
            width 0.4rem
            height 0.4rem
            margin-right 0.1rem
          > span
            font-size 0.3rem
            color #523F1A
      .check-class
        margin-left 0.1rem
        width 0.44rem
        height 0.44rem
  .address-submit
    position fixed
    left 0
    bottom 0
    width 100%
    height 1rem
    line-height 1rem
    text-align center
    font-size 0.32rem
    color #523F1A
    background-color #F8BD48
