.solicit-subscription-register
  padding-top 1.6rem
  .register
    width 100%
    padding 0 0.4rem
    .phone
      text-align center
      padding 0.32rem 0
      border-bottom 1px solid #C7C7CC
      > img:first-child
        height 0.4rem
      > img:last-child
        width 0.32rem
        height 0.32rem
      > input
        font-size 0.3rem
        width 5rem
        outline none
        margin 0 0.3rem
    .password
      text-align center
      padding 0.32rem 0
      border-bottom 1px solid #C7C7CC
      > img:first-child
        height 0.4rem
      > img:nth-child(3)
        width 0.32rem
        height 0.32rem
      > img:nth-child(4)
        width 0.32rem
        height 0.32rem
        margin-left 0.2rem
      > input
        font-size 0.3rem
        width 4.5rem
        outline none
        margin 0 0.3rem
    .register-button
      display block
      width 100%
      height 0.88rem
      font-size 0.34rem
      color #ffffff
      text-align center
      line-height 0.88rem
      background-color #F8BD48
      border-radius 0.88rem
      margin-top 0.6rem
      margin-bottom 0.6rem
    .user-registration
      display block
      width 1.2rem
      height 0.4rem
      font-size 0.24rem
      color #52504C
      background-color #F3F4F5
      border-radius 0.4rem
      line-height 0.4rem
      text-align center
      float right
    .forget-password
      display block
      width 1.2rem
      height 0.4rem
      font-size 0.24rem
      color #52504C
      background-color #F3F4F5
      border-radius 0.4rem
      line-height 0.4rem
      text-align center
  .weixin-login
    position fixed
    left 0
    bottom 1.2rem
    width 1.2rem
    height 1.2rem
    > img
      width 100%
      height 100%
