.failure
  position relative
  padding-top 1px
  width 100%
  height 100%
  background-image url("../../../assets/pay/failure.png")
  background-repeat no-repeat
  background-size 100% auto
  .close
    font-size 0.28rem
    color #806226
    margin 0.4rem
    float right
  .amount
    margin-top 1.5rem
    text-align center
    font-size 0.24rem
    color #523F1A
    .big
      font-size 0.8rem
      vertical-align baseline
  .payfailure
    text-align center
    margin-top 0.1rem
    font-size 0.28rem
    color #EC5557
  > img
    display block
  .payagain
    position absolute
    width 2.34rem
    left 50%
    bottom 4rem
    margin-left -1.17rem
  .logo
    position absolute
    bottom 1.12rem
    left 50%
    width 0.8rem
    margin-left -0.4rem
  .font
    position absolute
    bottom 0.6rem
    left 50%
    width 2.86rem
    margin-left -1.43rem
