.gift-list
  padding 0.4rem 0.2rem
  .gift-icon
    width 0.32rem
    height 0.32rem
  .gift-title
    color #333333
    font-weight 500
    font-size 0.32rem
  .gift-logo
    margin-top 0.4rem
    width 100%
