.solicit-subscription-magazine
  .magazine-seek
    display flex
    justify-content space-around
    p
      display block
      width 50%
      text-align center
      height 0.88rem
      line-height 0.88rem
      background-color #F5F5F5
      > span
        display inline-block
        max-width 80%
        color #333333
        font-size 0.32rem
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      > img
        width 0.24rem
        height 0.16rem
        margin-left 0.1rem
    > p:first-child
      margin-right 0.1rem
    > p:last-child
      margin-left 0.1rem
  .magazine-list
    margin-top 0.4rem
    > li
      position relative
      overflow hidden
      width 100%
      border 1px solid #E9E7E5
      border-radius 0.2rem
      box-shadow 0px 4px 0px 0px rgba(233, 231, 229, 1)
      padding 0.4rem 0.2rem
      margin-bottom 0.32rem
      .picture
        position absolute
        left 0.2rem
        top 0.4rem
        width 2rem
        height 2rem
        border-radius 0.2rem
        overflow hidden
        > img
          display block
          margin 0 auto
          height 100%
      .content
        margin-left 2.2rem
        .title
          text-align left
          overflow hidden
          text-overflow ellipsis
          display -webkit-box
          -webkit-box-orient vertical
          -webkit-line-clamp 2
          margin-top 0px
          margin-bottom 0.1rem
        .gift
          font-size 0.24rem
          color #9C9890
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          > img
            display block
            width 0.24rem
            height 0.24rem
            float left
            margin-top 0.05rem
            margin-right 0.1rem
        .units
          font-size 0.24rem
          color #9C9890
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          margin-top 0.1rem
        .amount
          overflow hidden
          margin-top 0.2rem
          float right
          > img
            display block
            width 0.48rem
            height 0.48rem
            float left
          > span
            display block
            width 0.96rem
            height 0.48rem
            float left
            line-height 0.48rem
            text-align center
            font-size 0.34rem
            color #523F1A
        .price
          font-size 0.24rem
          color #333333
          margin-top 0.2rem
          .big
            font-size 0.32rem
            vertical-align baseline
  .noContent
    text-align center
    margin-top 2rem
