.product-detail
  .detail-menu
    padding 0.2rem 0.32rem
    > ul
      height 0.7rem
      background-color #F8F7F6
      display flex
      justify-content space-between
      > li
        font-size 0.3rem
        color #999999
        border-right 1px solid #D6D6D6
        height 0.3rem
        margin-top 0.2rem
        font-size 0.3rem
        line-height 0.3rem
        width 33%
        text-align center
      > li:last-child
        border-right none
      .active
        color #F8BD48
