.detail-fixed
  position fixed
.detail-footer-all
  top 0
  left 0
  width 100%
  height 100%
  z-index 9
  .quantity-shadow
    width 100%
    height 100%
    background-color rgba(0, 0, 0, 0.5)
    position absolute
    top 0
    left 0
    .quantity-footer
      width 100%
      position absolute
      bottom 1rem
      left 0
      border-radius 5px 5px 0 0
      background-color #ffffff
      .detail-img
        width 100%
        height 2rem
        border-bottom 1px solid #e6e6e6
        .detail-header-img
          float left
          margin-left 0.3rem
          margin-top -0.6rem
          width 1.6rem
          height 1.6rem
          overflow hidden
          border-radius 5px
          background-color #ffffff
          border 1px solid #e6e6e6
          padding 2px
          .detail-header
            display block
            height 100%
            margin 0 auto
        .detail-close
          width 0.4rem
          height 0.4rem
          float right
          margin 0.4rem
      .detail-quantity
        padding 1rem 0.3rem
        > span
          display block
          height 0.48rem
          line-height 0.48rem
          font-size 0.24rem
          color #9C9890
        > img
          float right
          display block
          width 0.48rem
          height 0.48rem
        > p
          float right
          width 0.96rem
          height 0.48rem
          line-height 0.48rem
          text-align center
          font-size 0.34rem
          color #523F1A
  .detail-footer
    box-shadow 0px -2px 5px 0px rgba(0, 0, 0, 0.1)
    background-color #ffffff
    position fixed
    height 1rem
    width 100%
    bottom 0
    left 0
    .buy-now
      display block
      width 33.33%
      height 1rem
      float right
      text-align center
      line-height 1rem
      color #ffffff
      font-size 0.34rem
      background linear-gradient(-135deg, rgba(254, 122, 86, 1),rgba(255, 80, 80, 1))
    .add-shoppingcar
      display block
      width 33.33%
      height 1rem
      float right
      text-align center
      line-height 1rem
      color #ffffff
      font-size 0.34rem
      background-color #F8BD48
    .shoppingcar-icon
      height 1rem
      width 33.33%
      > div
        position relative
        margin 0 auto
        height 0.4rem
        width 0.4rem
        margin-top 0.15rem
        > img
          display block
          height 100%
          width 100%
        > span
          display block
          position absolute
          top -0.12rem
          right -0.12rem
          height 0.24rem
          line-height 0.24rem
          padding 0 0.1rem
          background-color #F23030
          color #ffffff
          font-size 0.2rem
          border-radius 0.24rem
      > p
        text-align center
        font-size 0.2rem
        color #C7C7CC
        height 0.2rem
        line-height 0.2rem
        margin-top 0.1rem
