.book-detail
  background-color #F3F4F5
  section
    background-color #fff
    padding 0px 0.2rem
    padding 0.2rem
    .detail-title
      font-size 0.3rem
      color #333333
      margin-bottom 0.1rem
      > img
        width 0.6rem
        height 0.32rem
    .age-bracket
      color #F8BD48
      font-size 0.24rem
      margin-bottom 0.1rem
    .detail-price
      font-size 0.24rem
      margin-bottom 0.1rem
      .price-red
        color #FF6060
        .big
          font-size 0.4rem
          vertical-align baseline
      .price-black
        margin-left 0.1rem
        color #999999
    .original-price
      font-size 0.24rem
      color #999
      margin-bottom 0.1rem
    .shoppingCar-quantity
      float right
      margin-top -0.1rem
      > img
        width 0.48rem
        height 0.48rem
      > span
        display inline-block
        width 0.96rem
        height 0.48rem
        text-align center
        line-height 0.48rem
        font-size 0.34rem
        color #523F1A
    .detail-points
      > img
        width 0.32rem
        height 0.32rem
        margin-right 0.1rem
      > span
        display inline-block
        height 0.32rem
        line-height 0.32rem
        font-size 0.24rem
        color #666666
  .title-bottom
    background-color #fff
    padding 0.32rem 0
    border-top 1px solid #E6E6E6
    display flex
    justify-content space-between
    margin-bottom 0.2rem
    > p
      width 50%
      text-align center
      font-size 0.28rem
      color #999
      border-right 1px solid #E6E6E6
      > span
        color #333
        vertical-align baseline
        margin-left 0.2rem
  .store-info
    background-color #fff
    padding 0.32rem 0.2rem
    display flex
    justify-content space-between
    margin-bottom 0.2rem
    > p
      font-size 0.24rem
      color #666666
      > span
        display block
        width 0.28rem
        height 0.28rem
        background-size 100%
        background-repeat no-repeat
        vertical-align middle
        margin-right 0.1rem
        float left
        margin-top 0.05rem
      .shipments-icon
        background-image url("../../../assets/shipments-icon.png")
      .transacty-icon
        background-image url("../../../assets/transacty-icon.png")
      .attestaty-icon
        background-image url("../../../assets/attestaty-icon.png")
  .commodity-info
    padding 0px 0.2rem
    margin-bottom 0.2rem
    background-color #ffffff
    > p
      position relative
      height 0.88rem
      line-height 0.88rem
      font-size 0.3rem
      color #333333
      border-bottom 1px solid #E6E6E6
      > span
        display inline-block
        width 0.16rem
        height 0.26rem
        background-image url("../../../assets/link-icon.png")
        background-repeat no-repeat
        background-size 100%
        position absolute
        top 50%
        right 0
        margin-top -0.08rem
    > p:last-child
      border-bottom none
  .book-content
    background-color #ffffff
    margin-bottom 0.2rem
    > p
      font-size 0.28rem
      color #333333
      margin-bottom 0.2rem
      text-align justify
    > img
      display block
      width 100%
      margin-bottom 0.2rem
    > img:last-child
      margin-bottom 0
