.increase-order-footer
  position fixed
  bottom 0
  left 0
  width 100%
  height 1rem
  z-index 2
  .footer-settle
    padding 0px 0.2rem
    min-width 30%
    float right
    height 1rem
    color #ffffff
    line-height 1rem
    text-align center
    font-size 0.34rem
    background linear-gradient(-135deg, rgba(254,122,86,1), rgba(255,80,80,1))
  .footer-total
    width 100%
    background-color #000000
    height 1rem
    padding-top 0.1rem
    .shoppingcar-icon
      position relative
      display block
      float left
      width 0.8rem
      height 0.8rem
      margin-left 0.3rem
      margin-right 0.28rem
      > img
        width 100%
        height 100%
      > span
        position absolute
        right -0.28rem
        top 0
        display block
        width 0.56rem
        height 0.28rem
        border-radius 0.14rem
        background-color #FF3A3F
        text-align center
        line-height 0.24rem
        color #fff
    .shoppingCar-price
      color #fff
      > p
        margin-left 0.1rem
        font-size 0.24rem
        float left
        color #fff
        .big
          font-size 0.48rem
          vertical-align baseline
      .shoppingCar-original
        color #CEC7BB
        margin-top 0.25rem
