.add-home-address
  > ul
    > li
      overflow hidden
      padding 0.3rem
      border-bottom 1px solid #E6E6E6
      > img
        width 0.16rem
        height 0.26rem
        margin-left 0.3rem
        margin-top 0.1rem
        float right
      > input
        width 60%
        height 0.5rem
        line-height 0.5rem
        font-size 0.3rem
        background-color #ffffff
        color #C7C7CC
        float right
        text-align right
        outline none
      > input::-webkit-input-placeholder
        color #C7C7CC
      > span
        display block
        height 0.5rem
        line-height 0.5rem
        font-size 0.3rem
        color #333333
      > p
        display block
        width 60%
        float right
        border none
        outline none
        color #C7C7CC
        font-size 0.3rem
        text-align right
        min-height 0.5rem
      > p:empty:before
        content '请输入您的详细地址'
        color #C7C7CC
      > p:focus:before
        content none
  .submit
    position fixed
    bottom 0
    left 0
    width 100%
    height 1rem
    line-height 1rem
    text-align center
    color #ffffff
    font-size 0.32rem
    background-color #F8BD48
