.add-home-address
  .user-home-address
    > li
      overflow hidden
      padding 0.4rem 0.3rem
      border-bottom 1px solid #E6E6E6
      > span
        font-size 0.3rem
        color #333333
      > input::placeholder
        color #C7C7CC
      > textarea::placeholder
        color #C7C7CC
      > input
        width 80%
        float right
        outline none
        font-size 0.3rem
        color #C7C7CC
        text-align right
      > img
        float right
        width 0.16rem
        height 0.26rem
        margin-top 0.07rem
        margin-left 0.3rem
      > p
        float right
        color #C7C7CC
        font-size 0.3rem
        height 0.44rem
        line-height 0.4rem
      .textarea
        width 80%
        min-height 0.44rem
        line-height 0.44rem
        overflow-y visible
        font-size 0.3rem
        color #C7C7CC
        text-align right
        float right
        border none
        outline none
        resize none
      .textarea:empty:before
        content attr(placeholder)
        color #C7C7CC
  .address-submit
    position fixed
    left 0
    bottom 0
    width 100%
    height 1rem
    line-height 1rem
    text-align center
    font-size 0.32rem
    color #523F1A
    background-color #F8BD48
