.about-us
  position relative
  width 100%
  height 100%
  padding 0px 0.44rem
  background-color #EBE0B8
  background-image url("../../assets/earth-icon.png")
  background-size 100%
  background-position bottom
  background-repeat no-repeat
  .sun-icon
    width 2.4rem
    height 1.02rem
    margin-top 0.6rem
  > p
    margin-top 0.6rem
    padding  0px 0.16rem
    text-indent 2em
    font-size 0.32rem
    color #523F1A
    line-height 0.6rem
  .swei-icon
    position absolute
    bottom 0.36rem
    left 50%
    margin-left -1rem
    width 2rem
  .about-button
    margin-top 1rem
    padding 0px 0.16rem
    display flex
    justify-content space-between
    > img
      width 2.84rem
      height 1.06rem
