.about-us
  position relative
  width 100%
  height 100%
  padding 0px 0.44rem
  background-color #EBE0B8
  background-image url("../../assets/earth-icon.png")
  background-size 100%
  background-position bottom
  background-repeat no-repeat
  .sun-icon
    width 2.4rem
    height 1.02rem
    margin-top 0.6rem
  > p
    margin-top 0.6rem
    padding  0px 0.16rem
    text-indent 2em
    font-size 0.32rem
    color #523F1A
    line-height 0.6rem
  .swei-icon
    position absolute
    bottom 0.36rem
    left 50%
    margin-left -1rem
    width 2rem
  .about-button
    margin-top 1rem
    padding 0px 0.16rem
    display flex
    justify-content space-between
    > img
      width 2.84rem
      height 1.06rem
  .shade
    background-color rgba(0, 0, 0, 0.5)
    position absolute
    height 100%
    width 100%
    left 0
    top 0
    .contact-us
      background-color #ffffff
      padding 0.6rem 0.4rem
      position absolute
      width 100%
      bottom 0
      left 0
      > p
        text-align center
        color #C7C7CC
      .contact-serve
        font-size 0.3rem
        margin-bottom 0.1rem
      .contact-phone
        font-size 0.26rem
        margin-bottom 0.1rem
      .contact-hours
        font-size 0.26rem
        margin-bottom 0.1rem
      > span
        border-radius 0.88rem
        line-height 0.88rem
        font-size 0.34rem
        text-align center
        height 0.88rem
        display block
        color #ffffff
        width 100%
      .contact-call
        background-color #F8BD48
        margin-top 0.4rem
      .contact-cancel
        background-color #FF6060
        margin-top 0.4rem
