.book-published
  padding 0 0.32rem
  padding-top 0.4rem
  .booktitle
    font-size 0.3rem
    color #999999
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-bottom 0.3rem
  > ul > li
    font-size 0.3rem
    margin 0.3rem 0
    color #999999
    > span
      float right
      color #333333
